@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Young+Serif&display=swap');

:root {
  --bg: url('assets/blaze.png');

  --dashIconBg: rgba(255, 255, 255, 0.15);
  --dashIconBgHover: rgba(255, 255, 255, 0.30);
  --dashIconStroke: 0.5px solid rgba(255, 255, 255, 0.29);

  --dashBg: rgba(131, 43, 24, 0.26);
  --dashStroke: 0.5px solid rgba(255, 187, 173, 0.26);

  --blur: blur(9px);
}

body {
    background-color: black;
    margin: 0;
    background-image: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.timebx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.time {
  font-family: "Young Serif";
  font-size: 5rem;
  color: white;
}

.meridian {
  font-family: "Young Serif";
  font-size: 1rem;
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
}

.dash-icon-container {
  background-color: var(--dashIconBg);
  border: var(--dashIconStroke);
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  transition: all cubic-bezier(.45,.28,0,.99) 200ms;
}

.dash-icon-container:hover {
  background-color: var(--dashIconBgHover);
}


.theme-indicator {
  width: 30px;
  height: 30px;
  background-image: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 500px;
  border: var(--dashIconStroke);
}

.dash {
  background-color: var(--dashBg);
  border: var(--dashStroke);
  display: flex;
  gap: 3px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  width: fit-content;
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
}

.dashbx {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}