@font-face {
    font-family: 'Geist';
    src: url('assets/fonts/Geist/GeistVariableVF.woff2') format('woff2');
  }

body {
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.time {
    color: white;
    font-family: Geist;
    font-size: 3.19rem;
    font-weight: 600;
}

.ampm {
    color: white;
    font-family: Geist;
    font-size: 1rem;
    font-weight: 600;
}

.ampmbx {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.timebx {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 66px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
}

.tool {
    width: 40px;
    height: 40px;

    transition: all;
    transition-timing-function: cubic-bezier(.49,.12,0,1);
    transition-duration: 500ms;
}

.tool:hover {
    translate: 0px -10px;
    scale: 1.2;
}


.toolbox {
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 77px;
    right: 100px;
}

.normaltext {
    color: white;
    font-family: Geist;
    font-weight: 600;
    font-size: 2.38rem;
}

.friends {
    position: fixed;
    display: flex;
    gap: 20px;
    top: 0;
    left: 0;
    margin-top: 107px;
    margin-left: 100px;
}

.mixer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    top: 0;
    right: 0;
    margin-top: 107px;
    margin-right: 100px;
}